@import "lesshat";

@import url(https://reset5.googlecode.com/hg/reset.min.css);
@import url(https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans:700italic,400,700|Open+Sans+Condensed:300,300italic,700|Slabo+13px);
* {
    box-sizing: border-box;
	}
body {
  margin: 0;
  background-color: dodgerblue;
}
.header {
   background-color: dodgerblue;
   padding: 20px;
   text-align: center;
   text-transform: uppercase;
 }
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
 }
